# Allow Half-Life-specific files that would otherwise be ignored
!lib/public/SDL2.lib
!utils/procinfo/lib/win32_vc6/procinfo.lib
!utils/vgui/lib/win32_vc16/vgui.lib

# CMake build folder
build
.vs/CMake Overview
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/halflife-murder/v16/.suo
.vs/halflife-murder/v16/Browse.VC.db
